[Unit]
Description=Logitech K650 fix for insert key issue.

[Service]
ExecStart=/sbin/logitech-k650-fix /dev/input/by-id/usb-Logitech_USB_Receiver-event-kbd
Type=simple

[Install]
WantedBy=multi-user.target
